*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/build-scan-data
/.tmp
/android.lock
/android
/caches
/daemon
/jdks
/native
/wrapper
/munegowda.jks
